<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService"/>
  </appSettings>
  <superSocket logFactory="NlogLogFactory">
    <servers>
      <server name="LockStepServerMain"
              serverTypeName="LockStepServerType"
              ip="Any"
              port="1000"
              maxConnectionNumber="100"
              disableSessionSnapshot="true"
              logBasicSessionActivity="true"
              syncSend="false"
              maxRequestLength="4096">
      </server>
    </servers>
    <serverTypes>
      <add name="LockStepServerType" type="MIServer.LockStepServer, MIServer"/>
    </serverTypes>
    <logFactories>
      <add name="NlogLogFactory"
           type="SuperSocket.SocketBase.Logging.NlogLogFactory, MIServer" />
    </logFactories>
  </superSocket>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>