<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <appSettings>
    <!-- 服务器IP地址-->
    <add key="ServerIPAddress" value="192.168.0.101"/>
    <!-- 服务器端口-->
    <add key="ServerPort" value="6666"/>

    <!-- VR考试Unity客户端名-->
    <add key="L1UnityClientName" value="VRExamUnityClient_L1"/>
    <!-- VR考试Unity客户端路径-->
    <add key="L1UnityClientPath" value="D:\VRExamUnityClient_L1\VRExamUnityClient_L1.exe"/>
    <!-- VR考试Unity客户端配置文件路径-->
    <add key="L1UnityClientConfigFilePath" value="D:\VRExamUnityClient_L1\VRExamUnityClient_L1_Data\StreamingAssets\Config.xml"/>

    <!-- VR考试Unity客户端名-->
    <add key="L2UnityClientName" value="VRExamUnityClient_L2"/>
    <!-- VR考试Unity客户端路径-->
    <add key="L2UnityClientPath" value="D:\VRExamUnityClient_L2\VRExamUnityClient_L2.exe"/>
    <!-- VR考试Unity客户端配置文件路径-->
    <add key="L2UnityClientConfigFilePath" value="D:\VRExamUnityClient_L2\VRExamUnityClient_L2_Data\StreamingAssets\Config.xml"/>

  </appSettings>

</configuration>
