<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StartUpGroup" type="System.Configuration.NameValueSectionHandler"/>
    <section name="DeviceControl" type="System.Configuration.NameValueSectionHandler"/>
    <section name="DevicePlan" type="System.Configuration.NameValueSectionHandler"/>
    <section name="SerialDataReadHandler" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="HostName" value="192.169.0.198">
    </add>
    <add key="User_Name" value="client_duowei">
    </add>
    <add key="Password" value="duowei">
    </add>
    <add key="BrokerName" value="event_bus">
    </add>
    <add key="ExchangeType" value="topic">
    </add>
    <add key="SSL" value="0">
    </add>
    <add key="DBname" value="root">
    </add>
    <add key="DBpassword" value="duowei">
    </add>
    <add key="DBhost" value="127.0.0.1">
    </add>
    <add key="DBport" value="3306"></add>
    <add key="DBdatabasename" value="vrexaminationmaincontrolsystemdb"></add>


    <add key="ComputerStartDelay" value="3">
    </add>
    <add key="TimeInterval" value="1">
    </add>
    <!-- 数据采集卡功能是否开启，如果没有数据采集卡，则此功能不能开启。   -->
    <add key="PCI1710Enable" value="0">
    </add>
    <add key="PCI1710Name" value="PCI-1710R,BID#0">
    </add>
    <add key="PCI1710xmlName" value="123.xml">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- 大同项目专用，主界面点击启动应用时开启关闸的延迟时间 毫秒ms  -->
    <add key="OpenRasterDelay" value="3000">
    </add>
    <add key="PlayVideoInterval" value="20000">
    </add>
    <!-- LiteVersion :0(大同)  LiteVersion:1(阜新环幕) LiteVersion:2(阜新VR教室) LiteVersion:3(办公室演示区) -->
    <add key="LiteVersion" value="3">
    </add>
    <!-- 是否安装hook，截获系统消息  -->
    <add key="Hook" value="1">
    </add>
  </appSettings>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="Server='localhost';Database='vrexaminationmaincontrolsystemdb';User Id='root';Password='root';"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.17.0" newVersion="8.0.17.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.11.4.0" newVersion="3.11.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <StartUpGroup>
    <Group name="分组1">
      <Device name="1号机">
      </Device>
      <Device name="2号机">
      </Device>
      <Device name="3号机">
      </Device>
      <Device name="4号机">
      </Device>
      <Device name="42号机">
      </Device>
      <Device name="投影1">
      </Device>
      <Device name="投影2">
      </Device>
      <Device name="音响">
      </Device>
      <Device name="音响1">
      </Device>
      <Device name="ZZ-IO808-1">
      </Device>
      <Device name="投影35">
      </Device>
    </Group>
    <Group name="分组2">
      <Device name="5号机">
      </Device>
      <Device name="6号机">
      </Device>
      <Device name="7号机">
      </Device>
      <Device name="音响">
      </Device>
      <Device name="音响1">
      </Device>
      <Device name="投影1">
      </Device>
    </Group>
    <Group name="全部计算机">
      <Device name="10号机">
      </Device>
      <Device name="11号机">
      </Device>
      <Device name="12号机">
      </Device>
      <Device name="13号机">
      </Device>
      <Device name="14号机">
      </Device>
      <Device name="15号机">
      </Device>
      <Device name="16号机">
      </Device>
      <Device name="17号机">
      </Device>
      <Device name="18号机">
      </Device>
      <Device name="19号机">
      </Device>
      <Device name="1号机">
      </Device>
      <Device name="20号机">
      </Device>
      <Device name="21号机">
      </Device>
      <Device name="22号机">
      </Device>
      <Device name="23号机">
      </Device>
      <Device name="24号机">
      </Device>
      <Device name="2号机">
      </Device>
      <Device name="3号机">
      </Device>
      <Device name="4号机">
      </Device>
      <Device name="5号机">
      </Device>
      <Device name="6号机">
      </Device>
      <Device name="7号机">
      </Device>
      <Device name="8号机">
      </Device>
      <Device name="9号机">
      </Device>
    </Group>
    <Group name="1和24号机单独分组">
      <Device name="1号机">
      </Device>
      <Device name="24号机">
      </Device>
    </Group>
    <Group name="2和23号机单独分组">
      <Device name="2号机">
      </Device>
      <Device name="23号机">
      </Device>
    </Group>
    <Group name="3和22号机单独分组">
      <Device name="3号机">
      </Device>
      <Device name="22号机">
      </Device>
    </Group>
    <Group name="4和21号机单独分组">
      <Device name="4号机">
      </Device>
      <Device name="21号机">
      </Device>
    </Group>
    <Group name="5和20号机单独分组">
      <Device name="5号机">
      </Device>
      <Device name="20号机">
      </Device>
    </Group>
    <Group name="6和19号机单独分组">
      <Device name="6号机">
      </Device>
      <Device name="19号机">
      </Device>
    </Group>
    <Group name="8和18号机单独分组">
      <Device name="8号机">
      </Device>
      <Device name="18号机">
      </Device>
    </Group>
    <Group name="9和17号机单独分组">
      <Device name="9号机">
      </Device>
      <Device name="17号机">
      </Device>
    </Group>
    <Group name="10和16号机单独分组">
      <Device name="10号机">
      </Device>
      <Device name="16号机">
      </Device>
    </Group>
    <Group name="11和15号机单独分组">
      <Device name="11号机">
      </Device>
      <Device name="15号机">
      </Device>
    </Group>
    <Group name="12和14号机单独分组">
      <Device name="12号机">
      </Device>
      <Device name="14号机">
      </Device>
    </Group>
    <Group name="13号机单独分组">
      <Device name="13号机">
      </Device>
    </Group>
    <Group name="投影">
      <Device name="投影1">
      </Device>
      <Device name="投影10">
      </Device>
      <Device name="投影11">
      </Device>
      <Device name="投影12">
      </Device>
      <Device name="投影13">
      </Device>
      <Device name="投影14">
      </Device>
      <Device name="投影15">
      </Device>
      <Device name="投影16">
      </Device>
      <Device name="投影17">
      </Device>
      <Device name="投影18">
      </Device>
      <Device name="投影19">
      </Device>
      <Device name="投影2">
      </Device>
      <Device name="投影20">
      </Device>
      <Device name="投影21">
      </Device>
      <Device name="投影22">
      </Device>
      <Device name="投影23">
      </Device>
      <Device name="投影24">
      </Device>
      <Device name="投影3">
      </Device>
      <Device name="投影4">
      </Device>
      <Device name="投影5">
      </Device>
      <Device name="投影6">
      </Device>
      <Device name="投影7">
      </Device>
      <Device name="投影8">
      </Device>
      <Device name="投影9">
      </Device>
    </Group>
    <Group name="投影单独分组1">
      <Device name="投影1">
      </Device>
    </Group>
    <Group name="投影单独分组2">
      <Device name="投影2">
      </Device>
    </Group>
    <Group name="投影单独分组3">
      <Device name="投影3">
      </Device>
    </Group>
    <Group name="投影单独分组4">
      <Device name="投影4">
      </Device>
    </Group>
    <Group name="投影单独分组5">
      <Device name="投影5">
      </Device>
    </Group>
    <Group name="投影单独分组6">
      <Device name="投影6">
      </Device>
    </Group>
    <Group name="投影单独分组7">
      <Device name="投影7">
      </Device>
    </Group>
    <Group name="投影单独分组8">
      <Device name="投影8">
      </Device>
    </Group>
    <Group name="投影单独分组9">
      <Device name="投影9">
      </Device>
    </Group>
    <Group name="投影单独分组10">
      <Device name="投影10">
      </Device>
    </Group>
    <Group name="投影单独分组11">
      <Device name="投影11">
      </Device>
    </Group>
    <Group name="投影单独分组12">
      <Device name="投影12">
      </Device>
    </Group>
    <Group name="投影单独分组13">
      <Device name="投影13">
      </Device>
    </Group>
    <Group name="投影单独分组14">
      <Device name="投影14">
      </Device>
    </Group>
    <Group name="投影单独分组15">
      <Device name="投影15">
      </Device>
    </Group>
    <Group name="投影单独分组16">
      <Device name="投影16">
      </Device>
    </Group>
    <Group name="投影单独分组17">
      <Device name="投影17">
      </Device>
    </Group>
    <Group name="投影单独分组18">
      <Device name="投影18">
      </Device>
    </Group>
    <Group name="投影单独分组19">
      <Device name="投影19">
      </Device>
    </Group>
    <Group name="投影单独分组20">
      <Device name="投影20">
      </Device>
    </Group>
    <Group name="投影单独分组21">
      <Device name="投影21">
      </Device>
    </Group>
    <Group name="投影单独分组22">
      <Device name="投影22">
      </Device>
    </Group>
    <Group name="投影单独分组23">
      <Device name="投影23">
      </Device>
    </Group>
    <Group name="投影单独分组24">
      <Device name="投影24">
      </Device>
    </Group>
    <Group name="全部时序器">
      <Device name="音响时序器1">
      </Device>
    </Group>
    <Group name="7th">
      <Device name="7th-01">
      </Device>
      <Device name="7th-02">
      </Device>
      <Device name="7th-03">
      </Device>
      <Device name="7th-04">
      </Device>
      <Device name="7th-05">
      </Device>
      <Device name="7th-06">
      </Device>
    </Group>
    <Group name="7th命令控制">
      <Device name="7th主机1">
      </Device>
      <Device name="7th主机2">
      </Device>
      <Device name="7th主机3">
      </Device>
      <Device name="7th主机4">
      </Device>
      <Device name="7th主机5">
      </Device>
      <Device name="7th主机6">
      </Device>
    </Group>
    <Group name="信号发生器">
      <Device name="信号发送器">
      </Device>
    </Group>
    <Group name="7th主机单独分组01">
      <Device name="7th-01">
      </Device>
    </Group>
    <Group name="7th主机单独分组02">
      <Device name="7th-02">
      </Device>
    </Group>
    <Group name="7th主机单独分组03">
      <Device name="7th-03">
      </Device>
    </Group>
    <Group name="7th主机单独分组04">
      <Device name="7th-04">
      </Device>
    </Group>
    <Group name="7th主机单独分组05">
      <Device name="7th-05">
      </Device>
    </Group>
    <Group name="7th主机单独分组06">
      <Device name="7th-06">
      </Device>
    </Group>
  </StartUpGroup>
  <!-- ControlType必须为网口或者串口 -->
  <!-- Code 区分大小写 -->
  <!-- 开启和关闭设备的控制码的name，必须以"开启设备"或"关闭设备"为名称 -->
  <!-- AutoExecInterval 以秒为单位，没有小数点 -->
  <!-- show为是否动态添加columns到DataGridView。如果show为true，AutoExecInterval为0，则表示该returnCode接收的是控制码的返回值，仅在控制时发送并接收，不是固定间隔发送并获取到的反馈
  如果show为false，并且AutoExecInterval为0，则可以理解为仅将状态保存到内存中，给以后处理。
  如果show为true,并且AutoExecInterval为0，则可以理解为该returnCode是在其他controlCode发送并返回的值进行取与运算处理的。比如ZZ-IO808的状态查询-->
  <!-- &#x000A;   : \n    -->
  <!-- &#&#x0009; : tab    -->
  <!-- &#x0020;   : space    -->
  <!-- &#x000D;   : enter    -->
  <!-- &amp;      : 	&    -->
  <!-- 有返回值的控制码，在响应的控制码子节点下添加 ReturnCode，来接收和处理响应的返回值   -->
  <!-- ReturnCode 如果以&amp;开头（第一个），表示取与运算，紧接着第二个&amp;之后表示与运算之后的结果，最后一个&amp;表示结束。ReturnCode中如果包含*，表示模糊查找 匹配任意字符   -->
  <!-- DeviceControl 处理的串口接收数据，不是需要处理逻辑的，需要处理逻辑的在下一个节点进行定义。比如大同项目需要采集液压支架上升高度    -->
  <DeviceControl>
    <Device name="投影" ControlType="网口" Hex="false" Buad="9600" Port="4352">
      <ControlCode name="开启设备" Code="%1POWR 1
" Delay="2" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="关闭设备" Code="%1POWR 0
" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="3D自动" Code="(tde 0)" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="3D帧连续" Code="(tde 5)" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="3D翻转开" Code="(tdi 1)" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="3D翻转关" Code="(tdi 0)" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="光闸开" Code="(shu 0)" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="光闸关" Code="(shu 1)" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="帧延迟" Code="(fdy 60)" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="3DSyncOut开" Code="7E 30 30 32 33 31 20 31 0D" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="3DSyncOut关" Code="7E 30 30 32 33 31 20 30 0D" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="电源状态" Code="%1POWR ?
" Delay="0" AutoExecInterval="5" Show="True">
        <ReturnCode code="%1POWR=1" Text="开启">
        </ReturnCode>
        <ReturnCode code="%1POWR=0" Text="关闭">
        </ReturnCode>
      </ControlCode>
    </Device>
    <Device name="音响" ControlType="网口" Hex="false" Buad="9600" Port="4352">
      <ControlCode name="开启设备" Code="voice 1" Delay="2" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="关闭设备" Code="voice 0" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
    </Device>
    <Device name="计算机" ControlType="网口" Hex="false" Buad="9600" Port="4352">
      <ControlCode name="开机" Code="voice 1" Delay="2" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="关机" Code="voice 0" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
    </Device> 
    <Device name="7th主机" ControlType="网口" Hex="false" Buad="9600" Port="23">
      <ControlCode name="加载7th工程文件" Code="LOAD &quot;dome mode.xml&quot;
" Delay="1" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="翻转左右眼立体" Code="INVERT3DEYES y" Delay="1" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="双眼网格" Code="GOTOMAKER&quot;F3&quot;
" Delay="1" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="投影编号" Code="GOTOMAKER&quot;F8&quot;
" Delay="1" AutoExecInterval="0" Show="false">
      </ControlCode>
    </Device>
    <Device name="灯光" ControlType="串口" Hex="false" Buad="9600" Port="23">
      <ControlCode name="全开" Code="01 20 FF FF 00 00 00 1F" Delay="1" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="全关" Code="01 20 00 00 00 00 00 21" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
    </Device>
    <Device name="ZZ-IO808" ControlType="串口" Hex="true" Buad="9600" Port="4352">
      <ControlCode name="控制一路开" Code="FE 05 00 00 FF 00 98 35" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制一路关" Code="FE 05 00 00 00 00 D9 C5" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制二路开" Code="FE 05 00 01 FF 00 C9 F5" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制二路关" Code="FE 05 00 01 00 00 88 05" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制三路开" Code="FE 05 00 02 FF 00 39 F5" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制三路关" Code="FE 05 00 02 00 00 78 05" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制四路开" Code="FE 05 00 03 FF 00 68 35" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制四路关" Code="FE 05 00 03 00 00 29 C5" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制五路开" Code="FE 05 00 04 FF 00 D9 F4" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制五路关" Code="FE 05 00 04 00 00 98 04" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制六路开" Code="FE 05 00 05 FF 00 88 34" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制六路关" Code="FE 05 00 05 00 00 C9 C4" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制七路开" Code="FE 05 00 06 FF 00 78 34" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制七路关" Code="FE 05 00 06 00 00 39 C4" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制八路开" Code="FE 05 00 07 FF 00 29 F4" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制八路关" Code="FE 05 00 07 00 00 68 04" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制全开" Code="FE 0F 00 00 00 08 01 FF F1 D1" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="控制全关" Code="FE 0F 00 00 00 08 01 00 B1 91" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="一路状态" Code="FE 01 00 00 00 08 29 C3" Delay="0" AutoExecInterval="5" Show="True">
        <ReturnCode code="FE 01 01 &amp;01&amp;01&amp; ** **" Text="开启">
        </ReturnCode>
        <ReturnCode code="FE 01 01 &amp;01&amp;00&amp; ** **" Text="关闭">
        </ReturnCode>
      </ControlCode>
      <ControlCode name="二路状态" Code="FE 01 00 00 00 08 29 C3" Delay="0" AutoExecInterval="0" Show="True">
        <ReturnCode code="FE 01 01 &amp;02&amp;02&amp; ** **" Text="开启">
        </ReturnCode>
        <ReturnCode code="FE 01 01 &amp;02&amp;00&amp; ** **" Text="关闭">
        </ReturnCode>
      </ControlCode>
      <ControlCode name="三路状态" Code="FE 01 00 00 00 08 29 C3" Delay="0" AutoExecInterval="0" Show="True">
        <ReturnCode code="FE 01 01 &amp;04&amp;04&amp; ** **" Text="开启">
        </ReturnCode>
        <ReturnCode code="FE 01 01 &amp;04&amp;00&amp; ** **" Text="关闭">
        </ReturnCode>
      </ControlCode>
      <ControlCode name="四路状态" Code="FE 01 00 00 00 08 29 C3" Delay="0" AutoExecInterval="0" Show="True">
        <ReturnCode code="FE 01 01 &amp;08&amp;08&amp; ** **" Text="开启">
        </ReturnCode>
        <ReturnCode code="FE 01 01 &amp;08&amp;00&amp; ** **" Text="关闭">
        </ReturnCode>
      </ControlCode>
      <ControlCode name="五路状态" Code="FE 01 00 00 00 08 29 C3" Delay="0" AutoExecInterval="0" Show="True">
        <ReturnCode code="FE 01 01 &amp;10&amp;10&amp; ** **" Text="开启">
        </ReturnCode>
        <ReturnCode code="FE 01 01 &amp;10&amp;00&amp; ** **" Text="关闭">
        </ReturnCode>
      </ControlCode>
      <ControlCode name="六路状态" Code="FE 01 00 00 00 08 29 C3" Delay="0" AutoExecInterval="0" Show="True">
        <ReturnCode code="FE 01 01 &amp;20&amp;20&amp; ** **" Text="开启">
        </ReturnCode>
        <ReturnCode code="FE 01 01 &amp;20&amp;00&amp; ** **" Text="关闭">
        </ReturnCode>
      </ControlCode>
      <ControlCode name="七路状态" Code="FE 01 00 00 00 08 29 C3" Delay="0" AutoExecInterval="0" Show="True">
        <ReturnCode code="FE 01 01 &amp;40&amp;40&amp; ** **" Text="开启">
        </ReturnCode>
        <ReturnCode code="FE 01 01 &amp;40&amp;00&amp; ** **" Text="关闭">
        </ReturnCode>
      </ControlCode>
      <ControlCode name="八路状态" Code="FE 01 00 00 00 08 29 C3" Delay="0" AutoExecInterval="0" Show="True">
        <ReturnCode code="FE 01 01 &amp;80&amp;80&amp; ** **" Text="开启">
        </ReturnCode>
        <ReturnCode code="FE 01 01 &amp;80&amp;00&amp; ** **" Text="关闭">
        </ReturnCode>
      </ControlCode>
    </Device>
    <Device name="TCP-KP-I404" ControlType="网口" Hex="false" Buad="9600" Port="12321">
      <ControlCode name="通道1开" Code="AT+STACH1=1
" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="通道1关" Code="AT+STACH1=0
" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="通道2开" Code="AT+STACH2=1
" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="通道2关" Code="AT+STACH2=0
" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="通道全开" Code="AT+STACH0=1
" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="通道全关" Code="AT+STACH0=0
" Delay="0" AutoExecInterval="0" Show="false">
      </ControlCode>
      <ControlCode name="设备连接" Code="AT
" Delay="0" AutoExecInterval="2" Show="True">
        <ReturnCode code="OK" Text="开启">
        </ReturnCode>
        <ReturnCode code="%1POWR=0" Text="关闭">
        </ReturnCode>
      </ControlCode>
      <ControlCode name="通道1状态" Code="AT+STACH1=?
" Delay="0" AutoExecInterval="5" Show="True">
        <ReturnCode code="+STACH1:1,100000" Text="开启">
        </ReturnCode>
        <ReturnCode code="+STACH1:0,100000" Text="关闭">
        </ReturnCode>
        <ReturnCode code="ERROR" Text="错误">
        </ReturnCode>
      </ControlCode>
      <ControlCode name="通道2状态" Code="AT+STACH2=?
" Delay="0" AutoExecInterval="3" Show="True">
        <ReturnCode code="+STACH2:1,100000" Text="开启">
        </ReturnCode>
        <ReturnCode code="+STACH2:0,100000" Text="关闭">
        </ReturnCode>
        <ReturnCode code="ERROR" Text="错误">
        </ReturnCode>
      </ControlCode>
    </Device>
  </DeviceControl>
  <!-- 增加“启动执行” 可以在软件开启时自动执行该方案    -->
  <!-- 如果需要键盘钩子，也需要添加方案   -->
  <DevicePlan>
    <Plan name="3D打开">
      <PlanDetail GroupName="分组2" DeviceClass="投影" ControlCodeName="3D帧连续" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组2" DeviceClass="投影" ControlCodeName="3D帧连续" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组2" DeviceClass="投影" ControlCodeName="3D帧连续" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组2" DeviceClass="投影" ControlCodeName="3D帧连续" Delay="2">
      </PlanDetail>
    </Plan>
    <Plan name="3D关闭">
      <PlanDetail GroupName="分组1" DeviceClass="音响" ControlCodeName="开启设备" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="音响" ControlCodeName="关闭设备" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组2" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组2" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
    </Plan>
    <Plan name="TestRS485">
      <PlanDetail GroupName="分组1" DeviceClass="ZZ-IO808" ControlCodeName="控制一路开" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="ZZ-IO808" ControlCodeName="控制一路关" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="ZZ-IO808" ControlCodeName="控制一路开" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="ZZ-IO808" ControlCodeName="控制一路关" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="投影" ControlCodeName="开启设备" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="ZZ-IO808" ControlCodeName="控制一路开" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="ZZ-IO808" ControlCodeName="控制一路关" Delay="2">
      </PlanDetail>
    </Plan>
    <Plan name="TestA">
      <PlanDetail GroupName="分组1" DeviceClass="ZZ-IO808" ControlCodeName="控制一路开" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="ZZ-IO808" ControlCodeName="控制二路开" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="ZZ-IO808" ControlCodeName="控制三路开" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="ZZ-IO808" ControlCodeName="控制四路开" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="ZZ-IO808" ControlCodeName="控制五路开" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="TCP-KP-I404" ControlCodeName="通道1开" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="TCP-KP-I404" ControlCodeName="通道2开" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="ZZ-IO808" ControlCodeName="控制全开" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="投影" ControlCodeName="开启设备" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="TCP-KP-I404" ControlCodeName="通道全开" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="ZZ-IO808" ControlCodeName="控制全关" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="TCP-KP-I404" ControlCodeName="通道全关" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="分组1" DeviceClass="投影" ControlCodeName="关闭设备" Delay="2">
      </PlanDetail>
    </Plan>
    <Plan name="光闸打开">
      <PlanDetail GroupName="分组1" DeviceClass="投影" ControlCodeName="光闸开" Delay="0">
      </PlanDetail>
    </Plan>
    <Plan name="光闸关闭">
      <PlanDetail GroupName="分组1" DeviceClass="投影" ControlCodeName="光闸关" Delay="0">
      </PlanDetail>
    </Plan>
    <Plan name="整体关机">
      <PlanDetail GroupName="投影单独分组24" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组23" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组22" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组21" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组20" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组19" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组18" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组17" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组16" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组15" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组14" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组13" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组12" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组11" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组10" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组9" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组8" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组7" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组6" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组5" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组4" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组3" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组2" DeviceClass="投影" ControlCodeName="3D自动" Delay="2">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组1" DeviceClass="投影" ControlCodeName="3D自动" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组24" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组23" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组22" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组21" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组20" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组19" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组18" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组17" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组16" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组15" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组14" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组13" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组12" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组11" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组10" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组9" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组8" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组7" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组6" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组5" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组4" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组3" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组2" DeviceClass="投影" ControlCodeName="关闭设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影单独分组1" DeviceClass="投影" ControlCodeName="关闭设备" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="7th主机单独分组06" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="7th主机单独分组05" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="7th主机单独分组04" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="7th主机单独分组03" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="7th主机单独分组02" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="7th主机单独分组01" DeviceClass="计算机" ControlCodeName="关机" Delay="60">
      </PlanDetail>
      <PlanDetail GroupName="1和24号机单独分组" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="2和23号机单独分组" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="3和22号机单独分组" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="4和21号机单独分组" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="5和20号机单独分组" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="6和19号机单独分组" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="8和18号机单独分组" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="9和17号机单独分组" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="10和16号机单独分组" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="11和15号机单独分组" DeviceClass="计算机" ControlCodeName="关机" Delay="5">
      </PlanDetail>
      <PlanDetail GroupName="12和14号机单独分组" DeviceClass="计算机" ControlCodeName="关机" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="13号机单独分组" DeviceClass="计算机" ControlCodeName="关机" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="信号发生器" DeviceClass="计算机" ControlCodeName="关机" Delay="120">
      </PlanDetail>
    </Plan>
    <Plan name="整体开机">
      <PlanDetail GroupName="信号发生器" DeviceClass="计算机" ControlCodeName="开机" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="13号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="12和14号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影" DeviceClass="投影" ControlCodeName="开启设备" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="投影" DeviceClass="投影" ControlCodeName="3D帧连续" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="7th命令控制" DeviceClass="7th主机" ControlCodeName="加载7th工程文件" Delay="1">
      </PlanDetail>
      <PlanDetail GroupName="7th命令控制" DeviceClass="7th主机" ControlCodeName="翻转左右眼立体" Delay="0">
      </PlanDetail>
    </Plan>
    <Plan name="启动执行">
      <PlanDetail GroupName="投影单独分组3" DeviceClass="投影" ControlCodeName="3D帧连续" Delay="1">
      </PlanDetail>
    </Plan>
  </DevicePlan>
    <!--- <test pattern="SECAM" /><test pattern="NTSC" /> 
    <Plan name="整体开机">
      <PlanDetail GroupName="信号发生器" DeviceClass="计算机" ControlCodeName="开机" Delay="180">
      </PlanDetail>
      <PlanDetail GroupName="13号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="120">
      </PlanDetail>
      <PlanDetail GroupName="12和14号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="11和15号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="10和16号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="9和17号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="8和18号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="6和19号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="5和20号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="4和21号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="3和22号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="2和23号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="1和24号机单独分组" DeviceClass="计算机" ControlCodeName="开机" Delay="60">
      </PlanDetail>
      <PlanDetail GroupName="7th主机单独分组01" DeviceClass="计算机" ControlCodeName="开机" Delay="120">
      </PlanDetail>
      <PlanDetail GroupName="7th主机单独分组02" DeviceClass="计算机" ControlCodeName="开机" Delay="120">
      </PlanDetail>
      <PlanDetail GroupName="7th主机单独分组03" DeviceClass="计算机" ControlCodeName="开机" Delay="120">
      </PlanDetail>
      <PlanDetail GroupName="7th主机单独分组04" DeviceClass="计算机" ControlCodeName="开机" Delay="120">
      </PlanDetail>
      <PlanDetail GroupName="7th主机单独分组05" DeviceClass="计算机" ControlCodeName="开机" Delay="120">
      </PlanDetail>
      <PlanDetail GroupName="7th主机单独分组06" DeviceClass="计算机" ControlCodeName="开机" Delay="180">
      </PlanDetail>
      <PlanDetail GroupName="投影" DeviceClass="投影" ControlCodeName="开启设备" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="投影" DeviceClass="投影" ControlCodeName="3D帧连续" Delay="60">
      </PlanDetail>
      <PlanDetail GroupName="7th命令控制" DeviceClass="7th主机" ControlCodeName="加载7th工程文件" Delay="30">
      </PlanDetail>
      <PlanDetail GroupName="7th命令控制" DeviceClass="7th主机" ControlCodeName="翻转左右眼立体" Delay="0">
      </PlanDetail>
    </Plan>
    -->

  <SerialDataReadHandler>
    <SerialPort DeviceName="Diastimeter_1" SerialName="COM1" Buad="115200">
    </SerialPort>
    <SerialPort DeviceName="Diastimeter_2" SerialName="COM5" Buad="115200">
    </SerialPort>
    <SerialPort DeviceName="Diastimeter_3" SerialName="COM8" Buad="115200">
    </SerialPort>
  </SerialDataReadHandler>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
